
.container{
  width: 600px;
  background-color: #fcc603;
  margin: auto;
  padding: 30px;
  border-radius:20%;
}

.searchBox {

    width: fit-content;
    margin: 50px auto;
}
.label {
font-size: 2rem;
}
.input {
 font-size: 1.5rem;
}